/* ROOT VARIABLES */

:root {
    --current-letter-bg-color: rebeccapurple;
    --current-letter-color: white;
    --text-display-color: #993396;
    --body-bg-color: #171717;
    --wpm-graph-bg-color: #5f5562a6;
}

/* GLOBAL STYLES */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--body-bg-color);
    margin: 0;
    padding: 0;
    overflow: hidden;
    transition: all 0.1s linear;
}

.container {
    display: none;
}

/* ICON DISPLAY STYLES */

.icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-wrapper svg {
    fill: inherit;
    transition: all 0.1s linear;
}

/* TEXT DISPLAY STYLES */

.text-display-wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-display {
    line-height: 4rem;
    font-size: 3rem;
    text-align: center;
    font-family: monospace;
    color: var(--text-display-color);
    background-color: #9933960f;
    border-radius: 1rem;
    font-weight: bold;
    padding: 1rem 2rem;
    max-width: 80%;
    user-select: none;
}

.text-display span.space-letter {
    display: inline-block;
    min-width: 1ch;
    height: 1.5rem;
}

.current-letter {
    color: #cfcf22c1;
    padding: 0 0.2rem;
    box-shadow: 0 5px 0 0 #cfcf22c1;
}

.incorrect-letter {
    color: #f44336;
    background-color: transparent;
    padding: 0 0.2rem;
    box-shadow: 0 5px 0 0 #f44336;
}

/* REFRESH BUTTON STYLES */

.refresh {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 1rem;
    cursor: pointer;
    border-radius: 50%;
    transition: all 0.1s linear;
    padding: 0.6rem;
    background-color: #9933960f;
}

.refresh svg {
    fill: #993396;
}

.refresh:hover {
    background-color: #99339623;
}

/* SCORE DISPLAY STYLES */

.score {
    position: absolute;
    top: 0;
    margin: 1rem;
    padding: 0.2rem;
    padding-inline: 15px;
    font-size: 3rem;
    color: inherit;
    font-weight: bold;
    font-family: cursive;
    background-color: var(--text-display-color);
    cursor: pointer;
    display: flex;
    gap: 0.5rem;
}

.score__current {
    left: 0;
    border-radius: 0.5rem 5rem 5rem 0.5rem;
}

.score__record {
    right: 0;
    border-radius: 5rem 0.5rem 0.5rem 5rem;
}

/* WPM GRAPH STYLES */

.wpm-graph-wrapper {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    margin: 1rem;
    padding: 0.2rem;
    font-size: 3rem;
    color: white;
    font-weight: bold;
    font-family: cursive;
    background-color: var(--wpm-graph-bg-color);
    border-radius: 1rem;
    cursor: pointer;
    height: 12rem;
}

#wpm-graph {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border-radius: 0.5rem;
    overflow: hidden;
}

/* GITHUB LINK STYLES */

.github-link {
    position: fixed;
    padding: 0;
    bottom: 0;
    left: 0;
}

.github-link svg {
    background-color: black;
    border-radius: 50%;
    transform: scale(0.5);
    transition: all 0.1s linear;
}

.github-link:hover svg {
    transform: scale(0.55);
}

.github-link a {
    text-decoration: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

/* DESKTOP-ONLY MESSAGE STYLES */

.desktop-only-wrapper {
    width: 100%;
    height: 100vh;
    background-color: var(--body-bg-color);
    color: #ccc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.desktop-only-message {
    font-size: 2rem;
    text-align: left;
    line-height: 3rem;
    font-family: monospace;
    padding-inline: 2rem;
}

/* APP NAME GRADIENT STYLES */

.app-name__gradiant {
    background: linear-gradient(to left, #c381fd, #0047fb);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 800;
}
