:root {
    --bg-color: #81d0fd;
    --text-color: #fff;
    --light-blue: #81d0fd;
    --dark-blue: #009ffb;
    --light-yellow: #feed54;
    --dark-yellow: #fbcd00;

    --current-letter-bg-color: #fbcd00;
    --body-bg-color: #fff;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--body-bg-color);
    margin: 0;
    padding: 0;
    overflow: hidden;
    transition: all 0.1s linear;
}
.container {
    display: none;
}
.text-display-wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text-display {
    font-size: 3rem;
    text-align: center;
    font-family: monospace;
    color: black;
    font-weight: bold;
    padding: 10rem;

    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.current-letter {
    background-color: var(--current-letter-bg-color);
    color: #fff;
    padding: 0 0.2rem;
    border-radius: 0.2rem;
}

.incorrect-letter {
    background-color: #ff0000;
    padding: 0 0.2rem;
    border-radius: 0.2rem;
}

.refresh {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 1rem;
    padding: 0.2rem 0.2rem 0.08rem 0.2rem;

    background-color: var(--current-letter-bg-color);
    border-radius: 0.5rem;
    cursor: pointer;
    box-shadow: 0 0 0.4rem #8d8d8d;
}

.refresh:hover {
    opacity: 0.8;
}

.score {
    position: absolute;
    top: 0;
    margin: 1rem;
    padding: 0.2rem 0.2rem 0.08rem 0.2rem;
    font-size: 3rem;
    color: white;
    font-weight: bold;
    font-family: cursive;

    background-color: var(--current-letter-bg-color);
    border-radius: 0.5rem;
    cursor: pointer;
}

.score__current {
    left: 0;
}

.score__record {
    right: 0;
}

.wpm-graph-wrapper {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    margin: 1rem;
    padding: 0.2rem;
    font-size: 3rem;
    color: white;
    font-weight: bold;
    font-family: cursive;

    background-color: var(--wpm-graph-bg-color);
    border-radius: 0.5rem;
    cursor: pointer;
    height: 12rem;
}

#wpm-graph {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border-radius: 0.5rem;
    overflow: hidden;
}

.github-link {
    position: fixed;
    padding: 0;
    bottom: 0;
    left: 0;
}

.github-link svg {
    /* background-color: #fff; */
    border-radius: 50%;
    transform: scale(0.5);
    transition: all 0.1s linear;
}

.github-link:hover svg {
    transform: scale(0.55);
}

.github-link a {
    text-decoration: none;
    -webkit-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.desktop-only-wrapper {
    width: 100%;
    height: 100vh;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.desktop-only-message {
    font-size: 2rem;
    text-align: left;
    line-height: 3rem;
    font-family: monospace;
    padding-inline: 2rem;
}

.app-name__gradiant {
    background: linear-gradient(to left, #c381fd, #0047fb);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 800;
}

